* {
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
    background-image: url(../ASSET/photo-1461696114087-397271a7aedc.avif);
    background-repeat:no-repeat;
    background-size: cover; 
    /* background-color: aquamarine; */
}

nav {

    /* margin:auto; */
    /* text-align: center; */
    width: 100%;
    font-family: arial;
    background: #E6E6E6;
    height: 97px;
    justify-content: space-between;
    }
    
nav ul {
    padding: 0 50px;
    list-style: none;
    position: relative;
    display: inline-table;
    width: 100%;
    height: 110px;
    }
       
    nav ul li{
    float:left;
    margin-right: 90px;
    padding-top: 10px;
    }
       
    nav ul li:hover{
    background:#6b6667;
    /* padding-top: 15px; */
    border-radius: 25%;
    transform: scale(1.1);
    transition: 2s;
    }
       
    nav ul li:hover a{
    color:#000;
    }
       
    nav ul li a{
    display: block;
    padding: 25px;
    color: #000000;
    text-decoration: none;
    }

/* .banner{
	position: relative;
	width: 100%;
	height: 100vh;
	background: url(./aset/logopasta-removebg-preview.png);
	background-size: cover;

} */

img {
    border-radius: 70%;
    width: 200px;
}


.teks {
    width: 350px
}

h2 {
    /* border-radius: 20px 20px 0 0; */
    text-align: center;
    background-color: #beaeae;
    font-size: 30px;
}

fieldset{
    margin-top: 50px;
    width: 50%;
    padding-top: 20px;
    padding-bottom: 50px;
}

.judul {
    margin-top: 30px;
}

.judul1 {
   font-size: 20px; 
}

.text1 {
    margin-top: 30px;
}

/* body {
    line-height: 1.5;
    font-family: sans-serif;
} */

.abcd {
    display: flex;
    flex-direction: row;
    gap: 250px;
}

.imgsk {
    display: flex;
    align-items: center;
}

.imgsk > img {
    display: block;
    width: 40px;
    height: 40px;
} */


footer{
	position: fixed;
	bottom: 0;
}

@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}


.footer-distributed{
	background-color: #beaeae;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 50px 50px 60px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 30%;
}

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

/* The company logo */

.footer-distributed .footer-left img{
	width: 30%;
}

.footer-distributed h3 span{
	color:  #8c6194;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #ffffff;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}


.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 30%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #ffffff;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* Here is the code for Responsive Footer */
/* You can remove below code if you don't want Footer to be responsive */


@media (max-width: 880px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
}

.footer-distributed .footer-center i {
		margin-left: 0;
}
